<div class="binding">
  <h2 style="text-align: center">Welcome to Interpolation Binding</h2>
  
  <h2>Name Binding</h2>
  <h4>Welcome to Angular 6 {{name}}</h4>

  <h2>Expression Binding</h2>
  <h4>2 + 2 = {{2+2}}</h4>
  
  <h2>String Concatenation</h2>
  <h4>{{"Welcome to string cocatenation Mr."+name}}</h4>

  <h2>Length of the string</h2>
  <h4>Dinesh name length is {{name.length}}</h4>

  <h2>Javascript methods .toUpperCase()</h2>
  <h4>Dinesh name is now capitalized {{name.toUpperCase()}}</h4>

  <h2>Only Javascript Methods calling getDetails()</h2>
  <h4>{{getDetails()}}</h4>
  
  <h2>Finding Current page URL (window.location.href)</h2>
  <h4>{{siteUrl}}</h4>
</div>

